matplotlib==3.4.1
numpy==1.20.1
pandas==1.2.4
prettytable==2.1.0
pycountry==20.7.3
pygal==2.4.0
requests==2.25.1
bs4==0.0.1
beautifulsoup4==4.9.3
selenium==3.141.0
sklearn==0.0
scikit-learn==0.24.2
pygal-maps-world==1.0.2
certifi==2020.12.5
chardet==4.0.0
idna==2.10
soupsieve==2.2.1
urllib3==1.26.4